html, body {
  overflow-x:hidden;
}

.hidden {
  color: rgba(0, 0, 0, 0);
}
.topbarbutton {
  background-color: gray;
  border-style: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
#myDiv {
  padding: 20px;
  width: 200px;
  margin: 10px;
}
a {
  color:rgb(58, 70, 204);
  text-decoration:none;
  font-weight: bold;
}
.logo {
  width: 20%;
  /* padding-right: 100%; */
}
text {
  margin-left: 15px;
  margin-right: 15px;
}
body {
  background-color: #4A4C52;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.contents {
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  z-index:2000;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.419);
}

.topbar {
  background-color: rgb(221, 221, 221);
  padding: 0px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.title {
  font-family: "Archivo Black", sans-serif;
  font-size: 50px;
  margin: 0;
}

.version {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  color: gray;
  margin-left: 5px;
  vertical-align: middle;
}

.background {
  background-color: rgb(248, 248, 248);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  border: none;
  width: 960px;
  height: 540px;
}

.big {
  font-family: "Archivo Black", sans-serif;
  font-size: 25px;
  background-color: rgb(117, 117, 117);
  padding: 20px;
  color: white;
  display: inline-block;
  width: 50%;
  border-radius: 20px;
}
.news {
  background-color: white;
}
.text {
  text-align: left;
  margin: 20px;
  padding: 20px;
}
.subtext {
  color: gray;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.webring {
  cursor: crosshair;
}
.boldtext {
  text-align: left;
  margin: 20px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  margin-bottom: -10px;
}
#older-versions {
  display: none;
}

.spoiler-content {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.spoiler-button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}
.trailer {
  width: 200px;
}

.pagestuff {
  max-width: 30%;
  border-radius: 20px;
  max-height: 100px;
}
.bold {
  font-weight: bold;
}

.hidepoll {
  margin-left: auto;
}

.poll {
  width: 133.33%;  /* 1 / 0.75 */
  height: 133.33%;
  transform: scale(0.75);
  transform-origin: top left;
}
.pollbox::-webkit-scrollbar {
    display: none;
}

.pollbox {
  position: absolute;
  overflow-x: hidden;
  overflow-y:auto;
  margin-left: 80%;
  filter: opacity(.33);
  transition: 0.1s;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.445);
  padding: 10px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-top: 100px;
  height: fit-content;
  height: 500px;
}

#disqus_thread {
  margin: 20px;
}

.pollbox iframe {
  overflow-x: none;
}

.pollbox:hover {
  z-index: 0;
  filter: opacity(1);
  transition: .2s;
}

.fullscreen {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.429);
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

#notice {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #b74848;
  color:white;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
.close {
  margin-left: auto;
  margin-right: 7px;
  background-color: rgba(255, 255, 255, 0.249);
  padding: 10px;
  border-radius: 50px;
  width: 15px;
  transform: rotate(45deg);
  cursor: pointer;
}
.close:hover {
  transform: rotate(45deg) scale(1.1);
  transition: .05s;
}
#noticetext {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.polltitlebox {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.polltitle {
  color: white;
  font-size: 25px;
}
